html {
    font-size: 14px;
}

h1, h2, h3, h4, h5, h6, p, a, th, td, input, span, button, select, legend {
    font-family: "Nunito", sans-serif !important;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}