<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<link rel="icon" type="image/svg+xml" href="/vite.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>TEST</title>
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
			crossorigin="anonymous"
		/>
        <style>
            .app{
                overflow: hidden;
                height: 100vh;
            }
			.scroll-list{
				height: 90vh;
				overflow-y: auto;
			}
			.tababble{
				white-space: nowrap;
				overflow-y: hidden;
				overflow-x: auto;
				flex-wrap: nowrap;
			}
        </style>
	</head>
	<body>
		<div id="app" class="app">
            <navbar style="height: 10vh;">
				<h1>balls</h1>
			</navbar>
	<div class="container-fluid row justify-content-center"> <!-- components to be split up into different vue files -->
		<div class="col-4">
			<!-- select -->
			<div class="nav nav-tabs" id="nav-tab" role="tablist">
				<button class="nav-link active" id="core-tab" data-bs-toggle="tab" data-bs-target="#core" type="button" role="tab" aria-controls="core" aria-selected="true">Core Courses</button>
				<button class="nav-link" id="major-tab" data-bs-toggle="tab" data-bs-target="#major" type="button" role="tab" aria-controls="major-tab" aria-selected="false">Major Courses</button>
				<button class="nav-link" id="minor-tab" data-bs-toggle="tab" data-bs-target="#minor" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Minor Courses</button>
			</div>

			<div class="tab-content" id="nav-tabContent">

				<div class="tab-pane fade show active" id="core" role="tabpanel" aria-labelledby="core-tab" tabindex="0">
					<div id="core courses" class="scroll-list">
						<h4 class="mt-1">Compulsory courses</h4>
						<div class="list-group">
							<button type="button" class="list-group-item list-group-item-action">
								<h4 class="text-center">TODO0000: Courses go here</h4>
								<p class="m-0 p-0">Prerequisites: <i>programreq for correct list</i></p>
								<p class="m-0 p-0">Incompatible: <i>previous solution</i></p>
							</button>
						</div>
						<h4 class="mt-1">Elective courses</h4>
						<div class="input-group p-2">
							<input type="text" class="form-control" placeholder="Unavailable at this moment." style="font-style: italic;" disabled>
							<span class="input-group-text" role="button">Search</span>
						</div>
					</div>
				</div>

				<div class="tab-pane fade" id="major" role="tabpanel" aria-labelledby="major-tab" tabindex="0">
					<div id="major-courses" class="scroll-list">
						<div class="input-group p-2">
							<span class="input-group-text">Major option</span>
							<select class="form-select">
								<option value="" hidden>Please choose 1 major?</option>
								<option>Code</option>
							</select>
						</div>
						<h4 class="mt-1">Compulsory courses</h4>
						<div class="list-group">
							<button type="button" class="list-group-item list-group-item-action">
								<h4 class="text-center">TODO0000: Courses go here</h4>
								<p class="m-0 p-0">Prerequisites: <i>programreq for correct list</i></p>
								<p class="m-0 p-0">Incompatible: <i>previous solution</i></p>
							</button>
						</div>
						<h4 class="mt-1">Elective courses: choose x?</h4>
						<div class="list-group">
							<button type="button" class="list-group-item list-group-item-action">
								<h4 class="text-center">TODO0000: Courses go here</h4>
								<p class="m-0 p-0">Prerequisites: <i>programreq for correct list</i></p>
								<p class="m-0 p-0">Incompatible: <i>previous solution</i></p>
							</button>
						</div>
					</div>
					
				</div>
				<div class="tab-pane fade" id="minor" role="tabpanel" aria-labelledby="minor-tab" tabindex="0">
					minor courses
				</div>
            </div>
		</div>
		<div class="col-7 border" id="plan">
			<table class="table table-bordered">
				<thead>
					<tr>
						<th scope="col">Sem</th>
						<th scope="col">Course 1</th>
						<th scope="col">Course 2</th>
						<th scope="col">Course 3</th>
						<th scope="col">Course 4</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">2025 Sem 1</th>
						<td>
							<h4 class="text-center">CODE1111</h4><br>
							<p class="m-0 p-0">Prerequisites:⚠ </p> <!-- Hoverable? Clickable -->
							<p class="m-0 p-0">Incompatible:✓ </p>
						</td>
						<td>
							<h4 class="text-center">CODE1111</h4><br>
							<p class="m-0 p-0">Prerequisites: </p>
							<p class="m-0 p-0">Incompatible: </p>
						</td>
						<td>
							<h4 class="text-center">CODE1111</h4><br>
							<p class="m-0 p-0">Prerequisites: </p>
							<p class="m-0 p-0">Incompatible: </p>
						</td>
						<td>
							<h4 class="text-center">CODE1111</h4><br>
							<p class="m-0 p-0">Prerequisites: </p>
							<p class="m-0 p-0">Incompatible: </p>
						</td>
					</tr>
					<tr>
						<th scope="row">2025 Sem 2</th>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr><tr>
						<th scope="row">2026 Sem 1</th>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr><tr>
						<th scope="row">2026 Sem 2</th>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr><tr>
						<th scope="row">2027 Sem 1</th>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr><tr>
						<th scope="row">2027 Sem 2</th>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr><tr>
						<th scope="row">2028 Sem 1</th>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr><tr>
						<th scope="row">2028 Sem 2</th>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</tbody>
			</table>

		</div>
	</div>


        </div>
		<script type="module" src="/src/main.ts"></script>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
			crossorigin="anonymous"
		></script>
	</body>
</html>