<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<link rel="icon" type="image/svg+xml" href="/vite.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>TEST</title>
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
			crossorigin="anonymous"
		/>
        <style>
            .app{
                overflow: hidden;
                height: 100vh;
            }
			.scroll-list #core-courses{
				height: 90vh;
				overflow-y: auto;
			}
			.tababble{
				white-space: nowrap;
				overflow-y: hidden;
				overflow-x: auto;
				flex-wrap: nowrap;
			}
        </style>
	</head>
	<body>
		<div id="app" class="app">
            <navbar style="height: 10vh;">
				<h1>balls</h1>
			</navbar>
	<div class="container-fluid row"> <!-- components to be split up into different vue files -->
		<div class="col-3">
			<!-- select -->
			<div class="nav nav-tabs" id="nav-tab" role="tablist">
				<button class="nav-link active" id="core-tab" data-bs-toggle="tab" data-bs-target="#core" type="button" role="tab" aria-controls="core" aria-selected="true">Core Courses</button>
				<button class="nav-link" id="major-tab" data-bs-toggle="tab" data-bs-target="#major" type="button" role="tab" aria-controls="major" aria-selected="false">Major Courses</button>
				<button class="nav-link" id="minor-tab" data-bs-toggle="tab" data-bs-target="#minor" type="button" role="tab" aria-controls="minor" aria-selected="false">Minor Courses</button>
			</div>

			<div class="tab-content" id="nav-tabContent">

				<div class="tab-pane fade show active" id="core" role="tabpanel" aria-labelledby="core" tabindex="0">
					<div id="core courses" class="scroll-list">
						<h4 class="mt-1">Compulsory courses</h4>
						<div class="list-group">
							<button type="button" class="list-group-item list-group-item-action">
								<h4 class="text-center">TODO0000: Courses go here</h4>
								<p class="m-0 p-0">Prerequisites: <i>programreq for correct list</i></p>
								<p class="m-0 p-0">Incompatible: <i>previous solution</i></p>
							</button>
						</div>
						<h4 class="mt-1">Elective courses</h4>
						<div class="input-group p-2">
							<input type="text" class="form-control" placeholder="Unavailable at this moment." style="font-style: italic;" disabled>
							<span class="input-group-text" role="button">Search</span>
						</div>
					</div>
				</div>

				<div class="tab-pane fade" id="major" role="tabpanel" aria-labelledby="major" tabindex="0">
					<div id="major-courses" class="scroll-list">
						<div class="input-group p-2">
							<span class="input-group-text">Major option</span>
							<select class="form-select">
								<option value="" hidden>Please choose 1 major?</option>
								<option>Code</option>
							</select>
						</div>
						<div class="nav nav-tabs p-2" id="nav-tab" role="tablist">
							<button class="nav-link active" id="major-core-tab" data-bs-toggle="tab" data-bs-target="#major-core" type="button" role="tab" aria-controls="major-core" aria-selected="true">Compulsory Courses</button>
							<button class="nav-link" id="major-elect-tab" data-bs-toggle="tab" data-bs-target="#major-elect" type="button" role="tab" aria-controls="major-elect" aria-selected="false">Elective Courses</button>
						</div>
						<div class="tab-content" id="nav-tabContent">
							<div class="tab-pane fade show active" id="major-core" role="tabpanel" aria-labelledby="major-core" tabindex="0">
								<div id="major-courses" class="scroll-list">
									<div class="list-group">
										<button type="button" class="list-group-item list-group-item-action">
											<h4 class="text-center">TODO0000: Major compulsory courses go here</h4>
											<p class="m-0 p-0">Prerequisites: <i>programreq for correct list</i></p>
											<p class="m-0 p-0">Incompatible: <i>previous solution</i></p>
										</button>
									</div>
								</div>
							</div>
							<div class="tab-pane fade show active" id="major-elect" role="tabpanel" aria-labelledby="major-elect" tabindex="0">
								<div id="major-courses" class="scroll-list">
									<div class="list-group">
										<button type="button" class="list-group-item list-group-item-action">
											<h4 class="text-center">TODO0000: Major elective coursesgo here</h4>
											<p class="m-0 p-0">Prerequisites: <i>programreq for correct list</i></p>
											<p class="m-0 p-0">Incompatible: <i>previous solution</i></p>
										</button>
									</div>
								</div>
							</div>

						</div>
					</div>
					
				</div>
				<div class="tab-pane fade" id="minor" role="tabpanel" aria-labelledby="minor" tabindex="0">
					minor courses
				</div>
            </div>
		</div>
		<div class="col-7" id="plan">
			<table class="table table-bordered">
				<thead>
					<tr>
						<th scope="col" style="width: 10% !important;">Sem</th>
						<th scope="col" style="width: 20% !important;">Course 1</th>
						<th scope="col" style="width: 20% !important;">Course 2</th>
						<th scope="col" style="width: 20% !important;">Course 3</th>
						<th scope="col" style="width: 20% !important;">Course 4</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">2025 Sem 1</th>
						<td>
							<h4 class="text-center">CODE1111</h4><br>
							<p class="m-0 p-0">Prerequisites:⚠ </p> <!-- Hoverable? Clickable -->
							<p class="m-0 p-0">Incompatible:✓ </p>
						</td>
						<td>
							<h4 class="text-center">CODE1111</h4><br>
							<p class="m-0 p-0">Prerequisites: </p>
							<p class="m-0 p-0">Incompatible: </p>
						</td>
						<td>
							<h4 class="text-center">CODE1111</h4><br>
							<p class="m-0 p-0">Prerequisites: </p>
							<p class="m-0 p-0">Incompatible: </p>
						</td>
						<td>
							<h4 class="text-center">CODE1111</h4><br>
							<p class="m-0 p-0">Prerequisites: </p>
							<p class="m-0 p-0">Incompatible: </p>
						</td>
					</tr>
					<tr>
						<th scope="row">2025 Sem 2</th>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr><tr>
						<th scope="row">2026 Sem 1</th>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr><tr>
						<th scope="row">2026 Sem 2</th>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr><tr>
						<th scope="row">2027 Sem 1</th>
						<td></td>
						<td></td>
						<td>
							<div class="justify-content-end d-flex"">
								<div class="m-auto">
									<h4>SCIE1000</h4>
								</div>
								<div>
									<button type="button" class="btn-close" aria-label="Close"></button>
								</div>
							</div>
							<p>No</p>
						</td>
						<td></td>
					</tr><tr>
						<th scope="row">2027 Sem 2</th>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr><tr>
						<th scope="row">2028 Sem 1</th>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr><tr>
						<th scope="row">2028 Sem 2</th>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</tbody>
			</table>

		</div>
		<div class="col-2">
			<a class="mb-2 " href="https://programs-courses.uq.edu.au/course.html?course_code=SCIE1000&offer=53544c554332494e"> <!-- this links to sem 2, 2025. The 5th last character (2) denotes semester #, for different years append &year=2026 etc -->
				<h3 class="text-center">SCIE1000</h3>
				<p class="text-center">Theory & Practice in Science</p>
			</a>
			<ul>
				<li>
					<h5><strong>Semesters offered: <span>&#9432;</span></strong>	</h5> <!-- On hover show disclaimer -->
					<p>SCIE1000 is available in the following semesters: Semester 1, Semester 2</p>
				</li>
				<li>
					<h5><strong>Prerequisites:</strong></h5>
					<p>SCIE1000 has no prerequisite courses.</p>
					<p>You have completed all necessary prerequisites to begin this course.</p>
				</li>
				<li>
					<h5><strong>Incompatibilities:</strong></h5> <!-- shows up optionally? -->
					<p>SCIE1000 is incompatible with SCIE1100.</p>
					<!-- <p>Please </p> -->
				</li>
				<li>
					<h5><strong>Credits:</strong></h5>
					<p>This course counts _ towards _.</p>
				</li>
			</ul>
		</div>
	</div>


        </div>
		<script type="module" src="/src/main.ts"></script>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
			crossorigin="anonymous"
		></script>
	</body>
</html>